
.main-register {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #ddd;
    height: 80vh;
    padding: 3%;
}

input {
    width: 32%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 10px;
    background-color: white;
}

textarea {
    width: 48%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 10px;
    background-color: white;
}

.btn {
    cursor: pointer;
    background-color: green;
}