* {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    background: #18181b;
    font-size: 137%;
}

h3 a {
    color: #CD0000;
    font-family: 'Kaushan Script', cursive;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    font-family: 'Syne Mono', monospace;
    text-decoration: none;
    padding: 20px;
    color: white;
    font-weight: 300;
    font-size: 82%;
    transition: 0.6s;
}

.nav-links a:hover {
    text-shadow: 0 0 10px red,
        0 0 20px red,
        0 0 40px red,
        0 0 80px red,
        0 0 120px red;
}